{{view innerTextAreaClass
    valueBinding="value"
    placeholderBinding="placeholder"
    nameBinding="name"
    disabledBinding="disabled"
}}

{{#if grow}}
    <div class="mirror">{{mirrorValue}}<br></div>
{{/if}}